---
import GithubIcon from "./icons/GithubIcon.astro";
import LinkButton from "./LinkButton.astro";
import SpringbootIcon from "./icons/SpringbootIcon.astro";
import AngularIcon from "./icons/AngularIcon.astro";
import JavaIcon from "./icons/JavaIcon.astro";
import HTMLIcon from "./icons/HTMLIcon.astro";
import CSSIcon from "./icons/CSSIcon.astro";
import BootstrapIcon from "./icons/BootstrapIcon.astro";
import TypeScriptIcon from "./icons/TypeScriptIcon.astro";
import PostmanIcon from "./icons/PostmanIcon.astro";
import JWTIcon from "./icons/JWTIcon.astro";

const TAGS = {
  SpringbootIcon: {
    name: "Springboot",
    class: "border text-white",
    icon: SpringbootIcon,
  },
  Angular: {
    name: "AngularJS",
    class: "border text-white",
    icon: AngularIcon,
  },
  Java: {
    name: "Java",
    class: "border text-white",
    icon: JavaIcon,
  },
  HTML: {
    name: "HTML",
    class: "border text-white",
    icon: HTMLIcon,
  },
  CSS: {
    name: "CSS",
    class: "border text-white",
    icon: CSSIcon,
  },
  Bootstrap: {
    name: "Bootstrap",
    class: "border text-white",
    icon: BootstrapIcon,
  },
  TypeScript: {
    name: "TypeScript",
    class: "border text-white",
    icon: TypeScriptIcon,
  },
  Postman: {
    name: "Postman",
    class: "border text-white",
    icon: PostmanIcon,
  },
  JWT: {
    name: "JWT",
    class: "border text-white",
    icon: JWTIcon,
  },
};
const PROJECTS = [
  {
    title: "FranOnWheels",
    description:
      "Primer projecto adaptándome a nuevas tecnologías y lenguajes, aplicación destinada a la gestión automatizada de una autoescuela, tratando con usuarios, reserva de clases, vehículos y facilidad en control de datos sin necesidad de entrar al código",
    github: "https://github.com/FranInfante/FranOnWheelsApp",
    image: "/projects/FranOnWheels.webp",
    tags: [
      TAGS.SpringbootIcon,
      TAGS.Java,
      TAGS.Angular,
      TAGS.TypeScript,
      TAGS.HTML,
      TAGS.CSS,
      TAGS.Bootstrap,
      TAGS.Postman,
      TAGS.JWT,
    ],
  },
  {
    title: "ProfileRooms",
    description:
      "Proyecto que llevamos a delante en el equipo de Profile Software Services para permitir a personas ajenas a la empresa reservar salas disponibles, aquí aprendí a gestionar control de versiones dentro de un equipo profesional, afianzando lo ya aprendido y leyendo documentación con aspectos desconocidos de la programación",
    github: "https://github.com/FranInfante/ProfileRooms",
    image: "/projects/Rooms.webp",
    tags: [
      TAGS.SpringbootIcon,
      TAGS.Java,
      TAGS.Angular,
      TAGS.TypeScript,
      TAGS.HTML,
      TAGS.CSS,
      TAGS.Bootstrap,
      TAGS.Postman,
      TAGS.JWT,
    ],
  },
];
---

<div class="flex flex-col gap-y-16">
  {
    PROJECTS.map(({ image, title, description, tags, github }) => (
      <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
        <div class="w-full md:w-1/2">
          <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform overflow-clip rounded-xl sm:rounded-xl">
            <img
              alt="FranOnWheels Screenshot"
              class="object-cover object-top w-full h-auto transition duration-500 sm:h-full md:scale-110 hover:scale-105"
              src={image}
            />
          </div>
        </div>

        <div class="w-full md:w-1/2 md:max-w-lg">
          <h3 class="text-2xl font-bold text-white-800 dark:text-gray-100">
            {title}
          </h3>
          <div class="flex flex-wrap mt-2">
            <ul class="flex flex-row mb-2 gap-x-2 flex-wrap">
              {tags.map((tag) => (
                <li class="pb-2">
                  <span
                    class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `}
                  >
                    <tag.icon class="size-4" />
                    {tag.name}
                  </span>
                </li>
              ))}
            </ul>

            <div class="mt-2 text-white-700 opacity-85 dark:text-gray-400">
              {description}
            </div>
            <footer class="flex items-center justify-center w-full md:justify-start mt-4 gap-x-4">
              {github && (
                <LinkButton href={github}>
                  <GithubIcon class="size-6" />
                  Código
                </LinkButton>
              )}
            </footer>
          </div>
        </div>
      </article>
    ))
  }
</div>
